@model ReviewVM
@{
    ViewData["Title"] = "Review";
}
<h1>Review of a shop</h1>
<strong>Enter your Review</strong>
<br />
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post" class="container">
    <div class="form-group row">
        <div class="col-sm-2"><label>Review: (1-5 stars)</label></div> <div class="col-sm-4">
             <input asp-for="ReviewNumber" type="number" class="form-control pb-1" />
        </div>
    </div>
    <div class="row p-2">
        <button type="submit" class="form-control btn btn-success col-2">Submit</button>
    </div>
</form>

<br />
<hr />