@model AdminVM


<div class="text-center">
    @*<a asp-controller="Admin" asp-action="ManageShops">Manage Shops</a>*@
    <a asp-controller="Admin" asp-action="ManagePeople">Manage People</a>

</div>
