@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Welcome to WTown! This is an enviroment where you can become a WCitizen, open up your own WShop, and make your own WItems! Please check out the WTown <a asp-controller="Home" asp-action="Navigation">Phone Book</a>
    to get started with you WTown Journy. If you are new then you will also want to create an acount using the register button at the top of the page. </p>
</div>