@model BlenderVM
@{
    ViewData["Title"] = "Blender";
}
<h1>@ViewData["Title"]</h1>


@*<link rel="stylesheet" href=@Model?.SiteVariation />*@
<p>HaHa, jk, its accually an addition only calculator!</p>

<div>
    <h1 class="display-4">Calculator</h1>
    <form method="post" class="container">

        <label asp-for="UserAnswer1" class="control-label">What number first?</label>
        <input asp-for="UserAnswer1" type="number" class="form-control pb-1" />
        <br />
        <label asp-for="UserAnswer2">What number second?</label>
        <input asp-for="UserAnswer2" type="number" class="form-control pb-1" />
        <br />
        <p>@Model?.SiteVariation</p>
        <br />
        <input type="submit" class="form-control btn" />
    </form>
</div>